<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">root2020</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/parkingservletapp</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
        <!-- In order to use getCurrentSession in Hibernate SessionFactory 
          because it returns a session bound to a context. 
          Later on when use spring, no need to set it explicitly anymore -->
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- 
        <property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.validate">1800</property> 
		-->
		
    </session-factory>
</hibernate-configuration>

